Package: cppknife-full
Version: 0.6.6
Architecture: amd64
Replaces: cppknife
Maintainer: SeaPlusPro <seapluspro@gmail.com>
Depends: libc6 (>= 2.36), libgdal-dev, libmysqlcppconn-dev, postgresql-client-15
Installed-size: 25919
Homepage: https://github.com/seapluspro/cppknife
Description: Shared libraries for C++ programming and tools using that. With db and geo additions. The heart is the shared library libcppknife as a helper for fast programming a command line C++ program.
 Also there are the programs textknife, fileknife, geoknife, sesknife, osknife which demonstrate the usage of the library.
